/*

COLOURS

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px; }
  .heading-secondary span {
    color: #ffbb00; }

.calender-icon {
  display: inline-block;
  margin: 40px 0 50px 0; }

.u-center-text {
  text-align: center; }

.section__blog--img {
  max-width: 100%;
  height: auto; }
  .section__blog--img--heading {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .4rem; }
  .section__blog--img--paragraph {
    font-size: 1rem; }

.blog__author {
  display: flex; }
  .blog__author--content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center; }
  .blog__author h6 {
    font-size: 1rem;
    letter-spacing: .2rem; }
  .blog__author p {
    margin: 10px 0 10px 0;
    font-size: 1.3rem; }
  .blog__author--social {
    display: flex;
    flex-direction: row;
    list-style: none; }
  .blog__author--social li i {
    color: #ffbb00; }
  .blog__author--social li:last-child {
    margin-left: 15px; }

.btn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffbb00;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #777;
  letter-spacing: .2rem; }

.btn-blog {
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  padding: 0; }

.card {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.card__top {
  position: relative; }
  .card__top img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  .card__top p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.3rem; }

.card__bottom {
  padding: 15px; }
  .card__bottom h3 {
    font-size: 1.6rem;
    color: #777;
    margin-bottom: 2rem;
    letter-spacing: .2rem; }

.event__details {
  display: flex;
  margin-bottom: 2rem; }
  .event__details--icon {
    display: flex;
    align-items: center; }
  .event__details i {
    color: #ffbb00; }
  .event__details p {
    margin-left: 10px;
    margin-right: 10px; }
  .event__details--paragraph {
    margin-bottom: 2rem;
    font-size: 1.2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background: url(../img/background_2.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__site-nav {
    display: flex;
    margin-left: auto;
    padding: 20px; }
  .header ul {
    display: flex;
    margin-left: auto;
    align-items: center; }
  .header ul li {
    list-style: none; }
  .header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 20px;
    letter-spacing: 2px;
    transition: all .3s ease-in-out; }
  .header ul li a:hover {
    background: black; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 22px;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: .8s; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-duration: .8s; }

.social {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .social ul li a {
    background: rgba(255, 255, 255, 0.6);
    transition: all .3s ease-in-out; }

.social ul li a:hover {
  transform: shrink(0.6);
  background: black; }

.section-events {
  background-color: #f3f3f3;
  padding: 15rem 0; }

.section__blog {
  background-color: #fff;
  padding: 15rem 0; }
