.btn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffbb00;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #777;
  letter-spacing: .2rem;
}
