.btn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffbb00;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #777;
  letter-spacing: .2rem;
}

.btn--blog {
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  margin-top: 20px;
  padding: 0;
  transition: all .4s ease-in-out;
}

.btn--blog:hover {
  color: $color-pink;
}

.btn-card {
  border: 1px solid $color-dark-red;
  color: $color-dark-red;
  transition: all .4s;

  &:hover {
    background-color: $color-dark-red;
    color: $color-white;
  }
}

.btn--form {
  width: 30%;
  border: 1px solid $color-dark-red;
  color: $color-dark-red;
  transition: all .4s;

  &:hover {
    background-color: $color-dark-red;
    color: #fff;
  }
}

.fa-paper-plane {
  margin-right: 1rem;
}
