.card {
  background-color: $color-white;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__top {
  position: relative;

  & img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  & p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.3rem;
  }
}

.card__bottom {
  padding: 15px;

  & h3 {
    font-size: 1.6rem;
    color: $color-grey-dark;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
  }
}

.event__details {
  display: flex;
  margin-bottom: 2rem;

  &--icon {
  display: flex;
  align-items: center;
  }

  & i {
    color: #ffbb00;
  }

  & p {
    margin-left: 10px;
    margin-right: 10px;
  }

  &--paragraph {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}
