.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;

  & span {
    color: #ffbb00;
  }
}

.calender-icon {
  display: inline-block;
  margin: 40px auto 20px;

}
