.section__blog--img {
  max-width: 100%;
  height: auto;
}
.section__blog--heading {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .4rem;
    margin-top: 2rem;
  }
.section__blog--paragraph {
    margin: 10px 0;
    font-size: 1.4rem;
}

.blog__author {
  display: flex;

  &--content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
  }

  h6 {
    font-size: 1rem;
    letter-spacing: .2rem;
  }

  p {
    margin: 10px 0 10px 0;
    font-size: 1.3rem;
  }

  &--social {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &--social li i {
    color: rgba(255, 233, 233, 1);
    transition: all .4s;

    &:hover {
      color: #333;
    }
  }

  &--social li:last-child {
    margin-left: 15px;
  }
}

.latest__blog {
  margin-top: 6rem;

  &-content {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d9d9d9;
  }

  &-left {
    width: 50%;
  }

  &-left img {
    width: 100%;
  }

  &-right {

  }
}

.latest__blog-right h5 {
    margin-left: 1rem;
  }
